body * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    margin-bottom: 25vh;
    padding: 50px; 
}

#paragraph {
    border: 3px solid #6e6a86;
    border-radius: 10px;
    width: 20vw;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

button:active {
    border-style: outset;
}

#input-field, #reset{
    resize:none;
    margin: 2%;
    border: 2px;
    border-style: solid;
    vertical-align: middle;
    padding: 1%;
    border-radius: 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
}

#input-field {
    width: 15vw;
}

#reset {
    width: 5vw;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }

  .bottomNav {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .bottomNav * {
    color: black;
  }
  
  .bottomNav button {
    margin: 10px;
    background-color: transparent;
    border: none;
    font-size: medium;
  }

  .bottomNav button:hover, button:focus {
    outline: none;
  }

  .bottomNav a:link, a:visited, a:hover, a:active{
    text-decoration: none;
  }