/*
Theme comes from the Rosé Pine Dawn palette
https://rosepinetheme.com/palette
base: #faf4ed
surface: #fffaf3
text: #575279
muted: #9893a5
*/


body {
    background-color: #faf4ed; /* base */
    color: #575279; /* text */
}

.area {
    background-color: #fffaf3; /* surface */ 
}

#input-field, #reset {
    background-color: #faf4ed; /* base */
    color: #575279; /* text */
    border-color: #9893a5; /* muted */
}
