body {
    background-color: #232136; /* base */
    color: #e0def4; /* text */
}

.area {
    background-color: #2a273f; /* surface */ 
}

#input-field, #reset, #themeModalButton {
    background-color: #232136; /* base */
    color: #e0def4; /* text */
}
